# Authentication
ACCESS_TOKEN=your_access_token
REFRESH_TOKEN=your_refresh_token
EXPIRETIME=7d

# Server Configuration
PORT=8000
VERIFICATION_URL=http://localhost:8000

# Database
DATABASE_URL=give_your_database_url

# Email Service (Resend)
RESEND_API_KEY=your_resend_api_key